.main-p{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: blue;
    background: #88d8f1;
}
h1{
    text-align: center;
    font-size: 40px;
    color: red;
    background: #e8beaa;
}